/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 28, 2018, 1:19:13 AM
    Author     : MYousry
*/
.root{

    -fx-background-color : #eceae2;


}

.rectangle {

    -fx-border-color:  #37aff7 ;
    -fx-border-color: wheat ;


}
#fancytext {
    -fx-font: 50px Tahoma;

    -fx-stroke: black;
    -fx-stroke-width: 1;
}
#menu{
    -fx-font: 25px Thonburi;
    -fx-stroke: black;


}

#profilebar
{
    -fx-background-color :#322b2b;
    -fx-border-width: 2px 5px 0px 0px ;
    -fx-border-color: black;
    -fx-opacity: 0.8;

}
#profilepic{
    -fx-border:10px solid red;
    -fx-border-radius: 500px;
    -fx-webkit-border-radius: 500px;
    -fx-moz-border-radius: 500px;
}

#username{
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-text-fill: #ffffff;
    -fx-effect: dropshadow( gaussian , rgba(255,255,255,0.5) , 0,0,0,1 );
}
/*
#videopane{

    /*    -fx-background-color :#322b2b;*/
// -fx-border-width: 2px 2px 2px 2px ;
//  -fx-border-color: black;
/*    -fx-opacity: 0.8;*/
//}


#viewresult{
    -fx-font-size: 30px;
    -fx-font-weight: bold;
    -fx-text-fill: #ffffff;
    -fx-effect: dropshadow( gaussian , rgba(255,255,255,0.5) , 0,0,0,1 );

}
#editdata{
   -fx-padding: 8 15 15 15;
    -fx-background-insets: 0,0 0 5 0, 0 0 6 0, 0 0 7 0;
    -fx-background-radius: 8;
    -fx-background-color: 
        linear-gradient(from 0% 93% to 0% 100%, #a34313 0%, #903b12 100%),
        #9d4024,
        #d86e3a,
        radial-gradient(center 50% 50%, radius 100%, #d86e3a, #c54e2c);
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.75) , 4,0,0,1 );
    -fx-font-weight: bold;
    -fx-font-size: 20px;

}
#editdata:hover{
    -fx-background-color: 
        linear-gradient(from 0% 93% to 0% 100%, #a34313 0%, #903b12 100%),
        #9d4024,
        #d86e3a,
        radial-gradient(center 50% 50%, radius 100%, #ea7f4b, #c54e2c);
}
#editdata:pressed{
    -fx-padding: 10 15 13 15;
    -fx-background-insets: 2 0 0 0,2 0 3 0, 2 0 4 0, 2 0 5 0;
}
#editdata Text {
    -fx-fill: white;
    -fx-effect: dropshadow( gaussian , #a30000 , 0,0,0,2 );
}
